@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
}

body {
  background-color: black;
  font-family: "Roboto", sans-serif;
}

.app {
  display: flex;
  justify-content: space-evenly;
  background: rgb(229, 229, 229);
  background: linear-gradient(
    0deg,
    rgba(229, 229, 229, 1) 43%,
    rgba(224, 224, 229, 1) 48%,
    rgba(163, 167, 228, 1) 53%
  );
  padding: 20px;
}

.top-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.app__dropdown {
  background-color: #fff;
  width: 80%;
  border: 1px solid #fff;
  border-radius: 5px 5px 5px 5px;
}

.app__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app__header > h1 {
  color: white;
  font-size: 2rem;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.app__left {
  flex: 0.9;
}

.app__information > h3 {
  color: #6a5d5d;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.app__information > h3:last-of-type {
  margin-top: 1rem;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
  .app__stats {
    flex-direction: column;
  }
  .MuiPaper-root {
    margin-top: 20px;
  }
  .top-icons {
    visibility: initial;
    flex-direction: column;
    width: 20px;
    height: 400px;
    margin-top: 10px;
    margin-bottom: 40px;
    align-content: center;
  }
}
